In [1]:
import numpy as np
import pandas as pd
import sweetviz as sv

In [2]:
df = pd.read_csv('full_2020.csv')

C:\Users\loico\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (8,10,12,14,16,17,18,20,22,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2020-1,2020-01-07,1,Vente,8000.0,NaN,NaN,FORTUNAT,B063,1250.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171919
1,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251868
2,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,BOIS DU CHAMP RION,B006,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235327
3,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,EN COROBERT,B025,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246519
4,2020-2,2020-01-02,1,Vente,2175.0,NaN,NaN,TERRES DES CINQ SAULES,B124,1290.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820

In [4]:
def preprocess(df_):
    #df = df_.copy()
    #df.adresse_code_voie=df.adresse_code_voie.astype(str)
    #df.code_commune=df.code_commune.astype(str)
    #df.code_departement=df.code_departement.astype(str)
    #df.numero_volume=df.numero_volume.astype(float)
    #df.lot1_numero=df.lot1_numero.astype(float)
    #df.lot2_numero=df.lot2_numero.astype(float)
    #df.lot3_numero=df.lot3_numero.astype(float)
    #df.lot4_numero=df.lot4_numero.astype(float)
    #df.lot5_numero=df.lot5_numero.astype(float)
    df.date_mutation=pd.to_datetime(df.date_mutation)

    return df

df=preprocess(df)

In [5]:
# Profiling Dataset
#my_report = sv.analyze(df)
#my_report.show_html()

In [6]:
# Suppression des colonnes inutiles

In [7]:
df.iloc[:5,20:]

,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,T,terres,NaN,NaN,1061.0,5.323540,46.171919
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,BT,taillis simples,NaN,NaN,85.0,4.893436,46.251868
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,T,terres,NaN,NaN,1115.0,4.899919,46.235327
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,T,terres,NaN,NaN,1940.0,4.882347,46.246519
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,T,terres,NaN,NaN,1148.0,4.894688,46.251820

In [8]:
to_drop = ["id_mutation","numero_disposition","adresse_numero","adresse_nom_voie","adresse_code_voie","code_postal",
           "adresse_suffixe","code_commune","nom_commune","code_departement","ancien_code_commune", "ancien_nom_commune",
           "id_parcelle","ancien_id_parcelle","type_local","nature_culture","nature_culture_speciale","code_nature_culture_speciale",
          "lot1_numero","lot2_numero","lot3_numero","lot4_numero","lot5_numero", "numero_volume"]

reduced_df = df.drop(to_drop, axis=1)

In [9]:
reduced_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2459560 entries, 0 to 2459559
Data columns (total 16 columns):
 #   Column                     Dtype
---  ------                     -----
 0   date_mutation              datetime64[ns]
 1   nature_mutation            object
 2   valeur_fonciere            float64
 3   lot1_surface_carrez        float64
 4   lot2_surface_carrez        float64
 5   lot3_surface_carrez        float64
 6   lot4_surface_carrez        float64
 7   lot5_surface_carrez        float64
 8   nombre_lots                int64
 9   code_type_local            float64
 10  surface_reelle_bati        float64
 11  nombre_pieces_principales  float64
 12  code_nature_culture        object
 13  surface_terrain            float64
 14  longitude                  float64
 15  latitude                   float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(2)
memory usage: 300.2+ MB

In [10]:
reduced_df

,date_mutation,nature_mutation,valeur_fonciere,lot1_surface_carrez,lot2_surface_carrez,lot3_surface_carrez,lot4_surface_carrez,lot5_surface_carrez,nombre_lots,code_type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,surface_terrain,longitude,latitude
0,2020-01-07,Vente,8000.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,T,1061.0,5.323540,46.171919
1,2020-01-02,Vente,2175.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,BT,85.0,4.893436,46.251868
2,2020-01-02,Vente,2175.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,T,1115.0,4.899919,46.235327
3,2020-01-02,Vente,2175.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,T,1940.0,4.882347,46.246519
4,2020-01-02,Vente,2175.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,T,1148.0,4.894688,46.251820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2459555,2020-12-16,Vente,1937500.0,NaN,NaN,NaN,NaN,NaN,0,2.0,87.0,4.0,S,447.0,2.350481,48.854293
2459556,2020-12-16,Vente,1937500.0,NaN,NaN,NaN,NaN,NaN,0,3.0,NaN,0.0,S,447.0,2.350481,48.854293
2459557,2020-12-16,Vente,1937500.0,NaN,NaN,NaN,NaN,NaN,0,2.0,82.0,2.0,S,447.0,2.350481,48.854293
2459558,2020-12-16,Vente,1937500.0,NaN,NaN,NaN,NaN,NaN,0,3.0,NaN,0.0,S,447.0,2.350481,48.854293
2459559,2020-10-08,Adjudication,255000.0,3.2,17.4,NaN,NaN,NaN,2,2.0,21.0,1.0,NaN,NaN,2.348149,48.865935

In [11]:
# get_dummies
reduced_df = pd.get_dummies(reduced_df, columns=["code_nature_culture", "nature_mutation"])

In [12]:
# feature engineering
reduced_df["year_mutation"] = reduced_df.date_mutation.dt.year
reduced_df["code_type_local"] = 5-reduced_df.code_type_local

reduced_df = reduced_df.drop("date_mutation",axis=1)

In [13]:
# Valeurs manquantes
(~reduced_df.isna()).sum(axis=0)#/len(reduced_df)

valeur_fonciere                                       2427808
lot1_surface_carrez                                    209280
lot2_surface_carrez                                     51041
lot3_surface_carrez                                      4857
lot4_surface_carrez                                      1257
lot5_surface_carrez                                       563
nombre_lots                                           2459560
code_type_local                                       1315834
surface_reelle_bati                                   1012501
nombre_pieces_principales                             1314270
surface_terrain                                       1691826
longitude                                             2429477
latitude                                              2429477
code_nature_culture_AB                                2459560
code_nature_culture_AG                                2459560
code_nature_culture_B                                 2459560
code_nature_culture_BF                                2459560
code_nature_culture_BM                                2459560
code_nature_culture_BO                                2459560
code_nature_culture_BP                                2459560
code_nature_culture_BR                                2459560
code_nature_culture_BS                                2459560
code_nature_culture_BT                                2459560
code_nature_culture_CA                                2459560
code_nature_culture_CH                                2459560
code_nature_culture_E                                 2459560
code_nature_culture_J                                 2459560
code_nature_culture_L                                 2459560
code_nature_culture_LB                                2459560
code_nature_culture_P                                 2459560
code_nature_culture_PA                                2459560
code_nature_culture_PC                                2459560
code_nature_culture_PE                                2459560
code_nature_culture_PH                                2459560
code_nature_culture_PP                                2459560
code_nature_culture_S                                 2459560
code_nature_culture_T                                 2459560
code_nature_culture_TP                                2459560
code_nature_culture_VE                                2459560
code_nature_culture_VI                                2459560
nature_mutation_Adjudication                          2459560
nature_mutation_Echange                               2459560
nature_mutation_Expropriation                         2459560
nature_mutation_Vente                                 2459560
nature_mutation_Vente en l'état futur d'achèvement    2459560
nature_mutation_Vente terrain à bâtir                 2459560
year_mutation                                         2459560
dtype: int64

In [16]:
final_df = reduced_df.fillna(reduced_df.mean())

In [17]:
# split

y = final_df.valeur_fonciere
X = final_df.drop("valeur_fonciere",axis=1)

In [18]:
# Normalisation

from sklearn.preprocessing import MinMaxScaler

X = MinMaxScaler().fit_transform(X)

In [ ]:
# Entraînement

from sklearn.model_selection import train_test_split
from sklearn.Linear_model import LinearRegression
from sklearn.metrics import MeanSquaredError

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3)

model = LinearRegression()
model.fit(X_train, y_train)

print(model.score(X_test, y_test))
print(MeanSquaredError)