In [97]:
import numpy as np
import pandas as pd

In [98]:
df1 = pd.read_csv('sample.csv')

In [99]:
cols = list(df1.columns.values)
cols.remove("date_mutation")
df1[cols]

,id_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,code_commune,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1203354,2,Vente,3100.0,NaN,NaN,LE PRIEURE,B022,95000.0,95074,...,NaN,NaN,NaN,S,sols,NaN,NaN,96.0,2.000901,49.023909
1,2017-1140739,1,Vente,100000.0,12.0,NaN,RUE DES TISSERANDS,0350,81800.0,81220,...,Maison,81.0,3.0,S,sols,NaN,NaN,91.0,1.726600,43.822678
2,2017-870932,1,Vente,176200.0,46.0,NaN,RUE DE THEROUANNE,1680,62500.0,62765,...,Maison,185.0,6.0,S,sols,NaN,NaN,223.0,2.264436,50.748282
3,2016-885548,1,Vente,180000.0,5324.0,NaN,RES LA NEUVA,A083,73270.0,73034,...,Appartement,39.0,2.0,NaN,NaN,NaN,NaN,NaN,6.571346,45.685170
4,2016-1201902,1,Vente,13900.0,59.0,NaN,AV ROGER GUICHARD,0443,95610.0,95218,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.099404,49.031375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2016-1102012,1,Vente,946.0,NaN,NaN,LE PONCELOT,B121,89380.0,89013,...,NaN,NaN,NaN,T,terres,NaN,NaN,2848.0,3.502363,47.875843
9996,2016-1176055,1,Vente,329000.0,6.0,B,ALL DU PLATEAU,0740,93340.0,93062,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.530342,48.897843
9997,2017-1229120,1,Vente,3500.0,NaN,NaN,LA MARNIERE,B339,86390.0,86120,...,NaN,NaN,NaN,J,jardins,NaN,NaN,311.0,0.957504,46.334447
9998,2017-403386,1,Vente,13500.0,NaN,NaN,ESTALENS,B017,32110.0,32390,...,NaN,NaN,NaN,T,terres,NaN,NaN,9236.0,-0.076637,43.718375
9999,2017-571050,1,Vente,138000.0,1.0,NaN,ALL DU PITEY,1387,40200.0,40184,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,-1.291595,44.211026

In [100]:
df1.head()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2016-1203354,2016-06-23,2,Vente,3100.0,NaN,NaN,LE PRIEURE,B022,95000.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,96.0,2.000901,49.023909
1,2017-1140739,2017-05-30,1,Vente,100000.0,12.0,NaN,RUE DES TISSERANDS,0350,81800.0,...,Maison,81.0,3.0,S,sols,NaN,NaN,91.0,1.726600,43.822678
2,2017-870932,2017-07-06,1,Vente,176200.0,46.0,NaN,RUE DE THEROUANNE,1680,62500.0,...,Maison,185.0,6.0,S,sols,NaN,NaN,223.0,2.264436,50.748282
3,2016-885548,2016-06-02,1,Vente,180000.0,5324.0,NaN,RES LA NEUVA,A083,73270.0,...,Appartement,39.0,2.0,NaN,NaN,NaN,NaN,NaN,6.571346,45.685170
4,2016-1201902,2016-04-14,1,Vente,13900.0,59.0,NaN,AV ROGER GUICHARD,0443,95610.0,...,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.099404,49.031375

In [101]:
def preprocess(df_):
    #df = df_.copy()
    #df.adresse_code_voie=df.adresse_code_voie.astype(str)
    #df.code_commune=df.code_commune.astype(str)
    #df.code_departement=df.code_departement.astype(str)
    #df.numero_volume=df.numero_volume.astype(float)
    #df.lot1_numero=df.lot1_numero.astype(float)
    #df.lot2_numero=df.lot2_numero.astype(float)
    #df.lot3_numero=df.lot3_numero.astype(float)
    #df.lot4_numero=df.lot4_numero.astype(float)
    #df.lot5_numero=df.lot5_numero.astype(float)
    df_.date_mutation=pd.to_datetime(df_.date_mutation)

    return df_

df1=preprocess(df1)

In [102]:
# Suppression des colonnes inutiles

In [103]:
df1.iloc[:5,20:]

,lot2_numero,lot2_surface_carrez,lot3_numero,lot3_surface_carrez,lot4_numero,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,S,sols,NaN,NaN,96.0,2.000901,49.023909
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,81.0,3.0,S,sols,NaN,NaN,91.0,1.726600,43.822678
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,185.0,6.0,S,sols,NaN,NaN,223.0,2.264436,50.748282
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,39.0,2.0,NaN,NaN,NaN,NaN,NaN,6.571346,45.685170
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2.099404,49.031375

In [104]:
to_drop = ["id_mutation","numero_disposition","adresse_numero","adresse_nom_voie","adresse_code_voie","code_postal",
           "adresse_suffixe","code_commune","nom_commune","code_departement","ancien_code_commune", "ancien_nom_commune",
           "id_parcelle","ancien_id_parcelle","type_local","nature_culture","nature_culture_speciale","code_nature_culture_speciale",
          "lot1_numero","lot2_numero","lot3_numero","lot4_numero","lot5_numero", "numero_volume","lot3_surface_carrez", "lot4_surface_carrez",
          "lot5_surface_carrez"]

reduced_df = df1.drop(to_drop, axis=1)

In [105]:
df1.code_nature_culture.value_counts()

S     3256
T      999
P      498
AB     452
J      341
BT     269
L      253
AG     247
VI     125
BR     100
VE      90
BS      57
PA      54
B       36
E       28
BF      11
BP      10
PP       7
BM       5
PC       5
CA       4
LB       3
CH       3
PH       2
PE       2
Name: code_nature_culture, dtype: int64

In [106]:
# get_dummies
reduced_df = pd.get_dummies(reduced_df, columns=["nature_mutation"])

In [107]:
# feature engineering
reduced_df["year_mutation"] = reduced_df.date_mutation.dt.year
reduced_df["code_type_local"] = 5-reduced_df.code_type_local

reduced_df = reduced_df.drop("date_mutation",axis=1)

In [108]:
# Valeurs manquantes
(~reduced_df.isna()).sum(axis=0)#/len(reduced_df)

valeur_fonciere                                        9849
lot1_surface_carrez                                     798
lot2_surface_carrez                                     207
nombre_lots                                           10000
code_type_local                                        5589
surface_reelle_bati                                    4131
nombre_pieces_principales                              5581
code_nature_culture                                    6857
surface_terrain                                        6857
longitude                                              9684
latitude                                               9684
nature_mutation_Adjudication                          10000
nature_mutation_Echange                               10000
nature_mutation_Expropriation                         10000
nature_mutation_Vente                                 10000
nature_mutation_Vente en l'état futur d'achèvement    10000
nature_mutation_Vente terrain à bâtir                 10000
year_mutation                                         10000
dtype: int64

In [90]:
final_df = reduced_df.fillna(reduced_df.mean())

C:\Users\loico\AppData\Local\Temp/ipykernel_6852/1260476646.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  final_df = reduced_df.fillna(reduced_df.mean())

In [91]:
# split

y = final_df.valeur_fonciere
X = final_df.drop("valeur_fonciere",axis=1)

In [132]:
final_df.code_nature_culture.value_counts().index

Index(['S', 'T', 'P', 'AB', 'J', 'BT', 'L', 'AG', 'VI', 'BR', 'VE', 'BS', 'PA',
       'B', 'E', 'BF', 'BP', 'PP', 'BM', 'PC', 'CA', 'LB', 'CH', 'PH', 'PE'],
      dtype='object')

In [118]:
df1.code_type_local.value_counts()

1.0    2005
2.0    1804
3.0    1413
4.0     367
Name: code_type_local, dtype: int64

In [115]:
df1.nature_mutation.value_counts().index

Index(['Vente', 'Vente en l'état futur d'achèvement', 'Echange',
       'Adjudication', 'Vente terrain à bâtir', 'Expropriation'],
      dtype='object')

In [92]:
# Normalisation

from sklearn.preprocessing import MinMaxScaler

cols = list(final_df.columns.values)
cols.remove("valeur_fonciere")
final_df[cols] = MinMaxScaler().fit_transform(final_df[cols])

ValueError: could not convert string to float: 'S'

In [ ]:
# Entraînement
(final_df.isna()).sum(axis=1)#/len(reduced_df)

0       0
1       0
2       0
3       0
4       0
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Length: 10000, dtype: int64

In [ ]:
df = final_df

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

y = df.valeur_fonciere

X = df.drop("valeur_fonciere",axis=1)

# Split data into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=0)

# Train a logistic regression model
model = LinearRegression()
model.fit(X_train, y_train)

# calculate metrics
print('train score:', model.score(X_train, y_train))
print('test score:' , model.score(X_test, y_test))

train score: 0.025914194792393097
test score: 0.016206199994022175